### Bloop ###
.bloop/

### Metals ###
.metals/

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log# Scala-IDE specific
.scala_dependencies
.worksheet
*.iml

# IDE
.bloop/
.metals/
.idea/
.vscode/
